<body>
<script src="scripts/script.js"></script>
<div id='addWordMenu'>
 <form hx-post='/'> 
     {{ if not .IsWordlist }}
     <div class='main-list'>
     <ul>
         <li><a href="default.asp">Home</a></li>
         <li><a href="contact.asp">Wordlists</a></li>
         <li><a hx-post='/logout' hx-target='#MainMenu'>Sign Out</a></li>
     </ul>
     {{ if .CustomWordlistName }}
     <span class='account-dropdown'>
         <button name="account" 
                 id='dropdown-button' 
                 class='dropbtn'
                 onclick="dropDownToggle(event)"
                 >≡</button>
     </span>
      {{ end }}
     <div class='options-container' id='optionsContainer'>
     <div style="margin: 20px;"> 
      {{ range $index, $map := .CustomWordlistName }}
           {{ range $list, $words := $map }}
           <ul class='phone-ul'>
              <li>{{$list}}: </li>
              {{ range $word, $answer := $words }}
              <li>{{ $word }} - {{ $answer }}</li>
              {{ end }}
           </ul>
           {{ end }}
      {{ end }}
     </div> 
     </div> 
     <div class="title-container">
      <h1 class='app-title'>Azla Language Learning</h1>
     </div> 
     <img class='image' 
             src='https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg' 
             alt='flag-of-azerbajani' 
             width='300' height='150'>
       <h2>Name of new Wordlist</h2>
       <div>
       {{ if .IsWordlistEmpty }}
           <div class='popup' id='floatingWindow'>
               <span class='popuptext' id="addedMessage">Value can't be empty</span>
           </div>
            <script>
               // Call the function to hide the message after 5 seconds
               hideMessageAfterTimeout();
               hideWindowAfterTimeout('floatingWindow');
           </script>
       </div>
       {{ end }}
          <input id='addWordList' 
                 type="text" 
                 placeholder="Name of wordlist"
                 name="addWordList" class='margin-top' style="width: 50%;" />
          <div>
            <button class='backButton'  
                    type='submit' 
                    hx-post='/add_word_save' 
                    hx-target='#addWordMenu'>Add Wordlist</button>
          <div>
       </div>
       <div><button style="margin-bottom: 20px;" type='submit' class='backButton'>Back</button><div>
     {{ end }}
    </div>
 </form>
</div>
<form hx-post='/' hx-target='#addWordMenu'>
{{ if .IsWordlist }}
<div class='main-list'>
     <ul>
         <li><a href="default.asp">Home</a></li>
         <li><a href="contact.asp">Wordlists</a></li>
         <li><a hx-post='/logout' hx-target='#MainMenu'>Sign Out</a></li>
     </ul>
     <h1 class='app-title'>Azla Language Learning</h1>
     <img class='image' 
             src='https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg' 
             alt='flag-of-azerbajani' 
             width='300' height='150' style="margin-bottom: 40px;">
    <div>
    <ul style="padding: 60px; background-color: #161821;">
       <span class='fontSizeMedium'> English Word </span>
       <span class='popup' id='popUpSuccess'>
          <span class='popuptext' id="addedMessage">Added Wordlist please enter the words</span>
       </span>
       <span class='fontSizeMedium'> Azerbajani Word</span>
       <span style="margin-left: 30px;" class='fontSizeMedium'></span>
    <div>
    <span>
       <input type="text" placeholder="English Word" name="engText" class='new-words'/>
       <input type="text" placeholder="Aze Word" name="azeText" class='new-words'/>
       <button type='submit'>+</button>
    </span>
    <div><button type='submit' class='backButton' hx-post='/add_word_final' >Add Words</button><div>
    <div><button style="margin-bottom: 20px;" type='submit' class='backButton'>Back</button><div>
    </ul>
     <script>
        // Call the function to hide the message after 5 seconds
        hideMessageAfterTimeout();
        hideWindowAfterTimeout('popUpSuccess');
    </script>
{{ end }}
</form>
</body>
