<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azla Language Learning</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="theme/dark-style.css">
</head>
<body>
<script>
    // Function to hide the message after a certain amount of time
    function hideMessageAfterTimeout(id) {
        setTimeout(function() {
            var message = document.getElementById(id);
            if (message) {
                message.style.display = 'none'; // Hide the message
            }
        }, 5000); // 5000 milliseconds = 5 seconds
    }

    function hideWindowAfterTimeout(id) {
        setTimeout(function() {
            var message = document.getElementById(id);
            if (message) {
                message.style.display = 'none'; // Hide the message
            }
        }, 5000); // 5000 milliseconds = 5 seconds
    }
</script>
    <center>
    <form hx-post="/question" id='MainMenu'>
        {{ if .IsSignedIn }} 
        <div class='main-list'>
            <div class="title-container">
                <h1 class="app-title" id="app-title"><center>Azla Language Learning<center></h1>
            </div>
            <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg" alt="alternative-text" width="300" height="150">
            <h2>Welcome Back {{ .LoginUserName }}</h2>
            <p id="text-main" class='text-main'>Select Your Options</p>
            <div id='languageTitle'></div>
            <div class='entry-boxes'>
                <select name="languageOpt" 
                        id="languageOpt"
                        hx-target='#languageTitle' hx-post='/language_changed'>
                    {{range .LanguageOptions}}
                        <option value={{.}}>{{.}}</option>
                    {{end}}
                </select>
            </div>
            <div id='wordListTitle'></div>
            <div>
                <select id='wordListOptions' 
                        name="wordListOpt" 
                        class="entry-box" 
                        hx-target='#wordListTitle' hx-post="/wordlist_changed">
                    {{range .WordListOptions}}
                        <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
            </div>
            <div id='wordAmount'></div>
            <div>
                <select name="wordCountOptions" 
                        class="entry-box"
                        hx-target='#wordAmount' hx-post='/wordcount_changed'>
                    {{range .MaxAmountOfWordsOptions}}
                        <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
            </div>
            <button type="submit" name="Start" id='startButton' class='startButton'>Start</button>
            <div class='checkbox-container'>
                <input type="checkbox" id="examCheck" name="examMode" value="Exam Mode">
                <label for="examCheck" class='checkbox-label'>Exam Mode</label>
            </div>
            <div>
                <button style="margin-top: 60px; margin-top: 10px;"
                        type="submit" 
                        name="Add-Words" 
                        id='startButton' 
                        class='exitbtn' 
                        hx-post='/add_word' hx-target='#MainMenu'>Add Words</button>
            </div>
            <div>
                <button style="margin-top: 60px;" 
                        type="submit" 
                        name="logout" 
                        id='startButton' 
                        class='exitbtn'
                        hx-post='/logout' hx-target='#MainMenu'>Logout</button>
            </div>
    </div></form>
    </center>
        {{ else }} 
            <div id='loginMenu'>
            <div class='main-list'>
            <div class="title-container">
                <h1 class="app-title" id="app-title"><center>Azla Language Learning<center></h1>
            </div>
            <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg" alt="alternative-text" width="300" height="150">
            <h2>You are not Signed In</h2>
                {{ if .FailedLoginAttempt }}
                <div class='floatingWindow' id='floatingWindow'>
                    <p id='addedMessage' class='errorMessage'>Inccorrect Username or Password</p>
                </div>
                <script>
                    hideMessageAFterTimeout('addedMessage');
                    hideWindowAFterTimeout('floatingWindow');
                </script>
                {{ end }}
                {{ if .CreateUser }}
                  <p>Create User Account<p>
                {{ else }}
                  <h3>Login to Azla<h3>
                {{ end }}
                <div><input class='input-box' type="text" placeholder="Username" name="username" /></div>
                <div><input class='input-box' type="password" placeholder="Password" name="password" /></div>
                {{ if .CreateUser }}
                  <button class='create-user' type='submit' hx-post='/create_user_submit' hx-target='#loginMenu' hx-target='MainMenu'>Create Account</button>
                {{ else }}
                  <div>
                    <button id='loginForm' class='sign-in' type='submit' hx-post='/auth' hx-target='#loginMenu' hx-target='#MainMenu'>Sign In</button>
                  </div>
                  <div>
                    <button class='create-user' type='submit' hx-post='/create_user' hx-target='#loginMenu' hx-target='MainMenu'>Create Account</button>
                  </div>
                {{ end }}
            </div>
        {{ end }}
</body>
</html>

