body {
  background-color: #161821;
}

.app-title {
  color: #f8f8f2;
  margin-top: 50px;
}

p {
  color: #f8f8f2;
  font-family: Arial, sans-serif; /* Choose a suitable font */
  font-size: 16px; /* Adjust the font size */
  line-height: 1.5;
}

h2 {
  color: #f8f8f2;
}

label {
  color: #f8f8f2;
}

div {
  color: #f8f8f2;
  font-family: Arial, sans-serif; /* Choose a suitable font */
  font-size: 16px; /* Adjust the font size */
  line-height: 1.5;
}

.popup-error {
  border: 3px solid #ccc;
  border-radius: 20px;
  margin: 0px;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  background-color: #f8d7da;
  border: 1px solid #dc3545;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
  background-color: #84a0c6; /* Blue background color */
  color: #fff; /* White text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Padding around the text */
  border-radius: 20px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 16px; /* Font size */
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

button:hover {
  background-color: #444b71; /* Darker blue background color on hover */
}

.moveButtons:hover {
  background-color: #333333; /* Darker blue background color on hover */
}

button:active {
  background-color: #004080; /* Even darker blue background color on click */
}

input[type="text"] {
  padding: 10px; /* Padding around the text */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  width: 40%; /* Width of the input box */
  box-sizing: border-box; /* Include padding and border in width calculation */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

input[type="password"] {
  padding: 10px; /* Padding around the text */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  width: 40%; /* Width of the input box */
  box-sizing: border-box; /* Include padding and border in width calculation */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 40);
  margin-top: 2px;
}

input[type="text"]:focus {
  outline: none; /* Remove default focus outline */
  border-color: #a093c7; /* Border color on focus */
  box-shadow: 0 0 5px rgba(100, 65, 120, 0.5); /* Box shadow on focus */
}

.new-words[type="text"] {
  padding: 10px; /* Padding around the text */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  width: 20%; /* Width of the input box */
  box-sizing: border-box; /* Include padding and border in width calculation */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

select {
  padding: 10px; /* Padding around the text */
  border: 3px solid #84a0c6; /* Border color */
  border-radius: 20px; /* Rounded corners */
  font-size: 16px; /* Font size */
  width: 30%; /* Width of the select box */
  box-sizing: border-box; /* Include padding and border in width calculation */
  background-color: #eceff4; /* Background color */
  color: #161821;
  appearance: none; /* Remove default styles (may not work on all browsers) */
  cursor: pointer; /* Show pointer cursor */
  margin: 10px 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

/* Styling for select arrow icon */
select::-ms-expand {
  display: none; /* Hide arrow icon for IE browsers */
}

/* Styling for select arrow icon */
select::after {
  content: "\25BC"; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent click events on arrow */
}

/* Style select options */
select option {
  padding: 10px; /* Padding around the text */
  background-color: #161821; /* Background color */
  color: #ffffff; /* Background color */
}

select option:hover {
  background-color: #84a0c6;
  color: #000;
  border: 1px solid #ccc; /* Border color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style select when focused */
select:focus {
  outline: none; /* Remove default focus outline */
  border-color: #a093c7; /* Border color on focus */
  box-shadow: 0 0 5px rgba(120, 123, 255, 0.5); /* Box shadow on focus */
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 10px; /* Set the width of the custom checkbox */
  height: 10px; /* Set the height of the custom checkbox */
  border: 1px solid #ccc; /* Border color */
  border-radius: 4px; /* Rounded corners */
  outline: none; /* Remove default focus outline */
  cursor: pointer; /* Show pointer cursor */
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style the custom checkbox when it's checked */
input[type="checkbox"]:checked {
  background-color: #84a0c6; /* Background color when checked */
  border-color: #84a0c6; /* Border color when checked */
}

/* Style the custom checkbox when it's hovered */
input[type="checkbox"]:hover {
  border-color: #666; /* Border color when hovered */
}

label.checkbox-label {
  display: inline-block;
  position: relative;
  margin-left: 5px; /* Add some space between the checkbox and the label */
  cursor: pointer; /* Show pointer cursor */
  box-shadow: 5 0 10px rgba(0, 0, 0, 0.5);
}

/* Style the label when the associated checkbox is checked */
input[type="checkbox"]:checked + label.checkbox-label {
  color: #84a0c6; /* Change text color when the checkbox is checked */
}

/* Style the label when hovered over */
label.checkbox-label:hover {
  text-decoration: underline; /* Underline the label text when hovered */
}

.checkbox-container {
  postition: absolute;
  align-items: center;
  margin-top: 50px;
  margin-right: 100px;
  padding: 10px; /* Padding around the text */
  border-radius: 20px; /* Rounded corners */
  font-size: 20px; /* Font size */
  width: 60%; /* Width of the select box */
  background-color: #161821; /* Background color */
  cursor: pointer; /* Show pointer cursor */
  margin: 10px 0;
  transition: transform 0.7s ease; /* Add transition for smooth animation */
}

.checkbox-label {
  position: relative;
  left: 0;
}

.wordQuestion {
  color: #84a0c6;
}

.wordLanguage {
  color: #b48ead;
}

.startButton {
  width: 30%;
}

.settingButton {
  width: 80%;
}

.backButton {
  width: 50%;
}

.moveButtons {
  width: 20%;
  box-shadow: none;
}

.questionString {
  font-size: 25px;
}

.fontSizeMedium {
  font-size: 20px;
}

.sign-in {
  width: 40%;
}

.create-user {
  width: 40%;
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.message {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}

.word-tree {
  position: fixed; /* Fixed position so it stays in place when scrolling */
  top: 0; /* Position at the top of the viewport */
  left: 0; /* Position at the left side of the viewport */
  width: 250px; /* Width of the side panel */
  height: 100%; /* Full height of the viewport */
  background-color: #2d3d50; /* Background color of the side panel */
  color: #fff; /* Text color */
  padding: 20px; /* Padding inside the side panel */
  transition: transform 0.3s ease; /* Add transition for smooth animation */
  transform: translateX(-250px);
}

/* Style the close button */
.openbtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: #161821;
  border-radius: 50px; /* Rounded corners */
  box-shadow: none;
}

.dropbtn {
  position: absolute;
  padding: 10px 20px;
  font-size: 30px;
  background-color: #161821; /* Background color when checked */
  border-radius: 50px; /* Rounded corners */
  border: none;
  cursor: pointer;
  box-shadow: none;
}

.account-dropdown {
  display: inline-block;
  float: left;
  position: relative;
}

.openbtn:hover {
  background-color: #333333; /* Darker blue background color on hover */
}

.dropbtn:hover {
  background-color: #333333; /* Darker blue background color on hover */
}

.input-group {
  display: flex; /* Use flexbox to align items */
  flex-direction: row; /* Align items horizontally */
  gap: 10px; /* Add some space between the select boxes */
}

.select-box {
  flex: 1; /* Make each select box fill available space */
}

.text-main {
  margin-top: 50px;
}

.image {
  margin-top: 50px;
}

.correct-text {
  color: #b4be82;
}

.incorrect-text {
  color: #e27878;
}

.side-list {
  margin-top: 70px;
}

.word-list {
  margin-top: 50px;
  margin-right: 100px;
  padding: 10px; /* Padding around the text */
  border: 1px solid #ccc; /* Border color */
  border-radius: 20px; /* Rounded corners */
  font-size: 25px; /* Font size */
  width: 60%; /* Width of the select box */
  background-color: #161821; /* Background color */
  cursor: pointer; /* Show pointer cursor */
  margin: 10px 0;
  transition: transform 0.7s ease; /* Add transition for smooth animation */
  box-shadow: none;
}

.main-list {
  box-shadow: 0 4px 5px rgba(255, 255, 255, 1);
  border: 3px solid #ccc; /* Border color */
  border-radius: 20px; /* Rounded corners */
  margin: 50px;
  position: relative;
}

.buttonList {
  position: fixed; /* Fixed position so it stays in place when scrolling */
  top: 70%; /* Position at the top of the viewport */
  left: 40%; /* Position at the left side of the viewport */
  width: 20%; /* Width of the side panel */
  height: 100%; /* Full height of the viewport */
  background-color: #161821; /* Background color of the side panel */
  border-radius: 20px; /* Rounded corners */
  color: #fff; /* Text color */
  padding: 20px; /* Padding inside the side panel */
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.input-box {
  width: 300px; /* Adjust width as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
  top: 50%;
}

.options-container {
  display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 70px;
  margin-left: 10px;
}

.options-container a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.options-container a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.dropdown-buttons {
  background-color: #333333;
}

.dropdown-buttons:hover {
  background-color: #161821;
}

.main-panel {
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 20px; /* Rounded corners */
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #333333;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #161821;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.noshadow {
  box-shadow: none;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
