/*Background colors */
:root {
  --main-background: #f8f8f2;
  --middle-background: #f0f0f0;
  --text-color: #161821;
  --text-color-alt: #161821;
  --accent-color-main: #20c997;
  --accent-color-dark: #004080;
  --hover-button: #35e1b7;
  --dark-grey: #333333;
  --dark-white: #ccc;
  --light-grey: #495057;
  --light-grey-hover: #666;
  --dark-purple: #a093c7;
  --magenta: #b48ead;
  --black: #343a40;
  --light-blue: #3498db;
  --normal-blue: #84a0c6;
  --dark-blue: #353f4b;
  --green: #b4be82;
  --red: #e27878;
}

body {
  background-color: var(--main-background);
  background-image: linear-gradient(circle, var(--middle-background));
}

.background-color {
  background-color: var(--main-background);
}

/* Navigation bar theme */
.nav-color {
  color: var(--text-color);
}

.nav-link-light {
  background-color: var(
    --middle-background
  ); /* Change this to your desired background color */
}

.nav-on-top {
  z-index: 100;
}

/* Paragraph and header themes */
.app-title {
  color: var(--text-color);
  margin-top: 50px;
}

.wordQuestion {
  color: var(--accent-color-main);
}

.wordLanguage {
  color: var(--magenta);
}

.question-string {
  font-size: 25px;
}

.font-size-medium {
  font-size: 20px;
}

.text {
  color: var(--text-color);
}

.text-main {
  margin-top: 50px;
}

.error-message {
  color: var(--red);
  font-size: 14px;
  margin-top: 5px;
}

.message {
  color: var(--green);
  font-size: 14px;
  margin-top: 5px;
}

.correct-text {
  color: var(--green);
}

.incorrect-text {
  color: var(--red);
}

.image {
  margin-top: 50px;
}

p {
  color: var(--text-color);
  font-family: Arial, sans-serif; /* Choose a suitable font */
  font-size: 16px; /* Adjust the font size */
  line-height: 1.5;
}

h2 {
  color: var(--text-color);
}

h5 {
  color: var(--text-color);
}

label {
  color: var(--text-color);
}

div {
  color: var(--text-color);
  font-family: Arial, sans-serif; /* Choose a suitable font */
  font-size: 16px; /* Adjust the font size */
  line-height: 1.5;
}

/* Default buttons theme*/
button {
  background-color: var(--accent-color-main); /* Blue background color */
  color: var(--main-background); /* White text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Padding around the text */
  border-radius: 20px; /* Rounded corners */
  border-color: var(--text-color);
  cursor: pointer; /* Show pointer cursor on hover */
  font-size: 16px; /* Font size */
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 1);
}

button:hover {
  background-color: var(
    --hover-button
  ); /* Darker blue background color on hover */
}

button:active {
  background-color: var(
    --accent-color-dark
  ); /* Even darker blue background color on click */
}

/*Input boxes and password fields*/
input[type="text"] {
  padding: 10px; /* Padding around the text */
  border: 2px solid var(--dark-white); /* Border color */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  width: 40%; /* Width of the input box */
  box-sizing: border-box; /* Include padding and border in width calculation */
  box-shadow: none;
  background-color: var(--middle-background);
}

input[type="password"] {
  padding: 10px; /* Padding around the text */
  border: 1px solid var(--dark-white); /* Border color */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  width: 40%; /* Width of the input box */
  box-sizing: border-box; /* Include padding and border in width calculation */
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 255);
  margin-top: 2px;
}

input[type="text"]:focus {
  outline: none; /* Remove default focus outline */
  border-color: var(--dark-purple); /* Border color on focus */
  background-color: var(--middle-background);
  box-shadow: 0 0 5px rgba(100, 65, 120, 0.5); /* Box shadow on focus */
}

.new-words[type="text"] {
  padding: 10px; /* Padding around the text */
  border: 1px solid var(--dark-white); /* Border color */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  width: 20%; /* Width of the input box */
  box-sizing: border-box; /* Include padding and border in width calculation */
  box-shadow: none;
  background-color: var(--middle-background);
}

.input-box [type="text"] {
  width: 300px; /* Adjust width as needed */
  padding: 10px;
  border: 1px solid var(--dark-white);
  border-radius: 4px;
  font-size: 16px;
  color: var(--text-color);
  outline: none;
  transition: border-color 0.3s ease;
  box-shadow: none;
  top: 50%;
  background-color: var(--middle-background);
}

.text-entry[type="text"] {
  width: 100%;
  background-color: var(--middle-background);
  box-shadow: none;
}

/* Select boxes aka combo boxes */
select {
  padding: 10px; /* Padding around the text */
  border: 3px solid var(--normal-blue); /* Border color */
  border-radius: 20px; /* Rounded corners */
  font-size: 16px; /* Font size */
  width: 30%; /* Width of the select box */
  box-sizing: border-box; /* Include padding and border in width calculation */
  background-color: var(--middle-background); /* Background color */
  color: var(--text-color);
  appearance: none; /* Remove default styles (may not work on all browsers) */
  cursor: pointer; /* Show pointer cursor */
  margin: 10px 0;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 255);
}

/* Styling for select arrow icon */
select::-ms-expand {
  display: none; /* Hide arrow icon for IE browsers */
}

/* Styling for select arrow icon */
select::after {
  content: "\25BC"; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent click events on arrow */
}

/* Style select options */
select option {
  padding: 10px; /* Padding around the text */
  background-color: var(--text-color); /* Background color */
  color: var(--main-background); /* Background color */
}

select option:hover {
  background-color: var(--normal-blue);
  color: var(--dark-white);
  border: 1px solid var(--dark-white); /* Border color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style select when focused */
select:focus {
  outline: none; /* Remove default focus outline */
  border-color: var(--dark-purple); /* Border color on focus */
  box-shadow: 0 0 5px rgba(120, 123, 255, 0.5); /* Box shadow on focus */
}

.select-box {
  width: 40%; /* Width of the select box */
  background-color: var(--middle-background); /* Background color */
  border: 3px solid var(--hover-button); /* Border color */
}

/* Custom Buttons */
/* Style the open button to open the sidepanel */
.openbtn {
  position: absolute;
  top: 20px;
  left: -20px;
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: var(--middle-background);
  border-radius: 50px; /* Rounded corners */
  box-shadow: none;
}

/* Hover effect */
.openbtn:hover {
  background-color: var(
    --main-background
  ); /* Darker blue background color on hover */
}

.dropbtn {
  position: absolute;
  padding: 10px 20px;
  font-size: 30px;
  background-color: var(
    --middle-background
  ); /* Background color when checked */
  border-radius: 50px; /* Rounded corners */
  border: none;
  cursor: pointer;
  box-shadow: none;
}

.dropbtn:hover {
  background-color: var(
    --dark-grey
  ); /* Darker blue background color on hover */
}

.btn-close-color {
  color: var(--text-color);
  background-color: var(--middle-background);
}

.account-dropdown {
  display: inline-block;
  float: left;
  position: relative;
}

.startbtn {
  width: 40%;
  box-shadow: none;
  border-color: var(--text-color);
}

.startbtn:hover {
  background-color: var(--hover-button);
}

.settingbtn {
  width: 80%;
}

.backbtn {
  width: 50%;
}

.addbtn {
  width: 100%;
}

.movebtn {
  width: 100%;
  box-shadow: none;
  max-width: 400px;
}

.movebtn:hover {
  background-color: var(--hover-button);
}

.sign-in-btn {
  width: 40%;
}

.create-user-btn {
  width: 40%;
  margin-bottom: 20px;
}

.dropdown-buttons {
  background-color: var(--dark-grey);
}

.dropdown-buttons:hover {
  background-color: var(--text-color);
}

/* Classes to set margins */
.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-right {
  margin-right: 50px;
}

.margin-left {
  margin-left: 50px;
}

/* Containers */
.container-middle {
  box-shadow:
    0 0 20px 0 rgba(255, 255, 255, 1),
    0 5px 5px 0 rgba(255, 255, 255, 0.24);
  border: 3px solid var(--dark-white); /* Border color */
  border-radius: 20px; /* Rounded corners */
  margin: 2px;
  padding: 1px 5px 1px 5px;
  position: relative;
  background-color: var(--middle-background);
  opacity: 99%;
  z-index: 1;
}

.container-word-list {
  margin-top: 50px;
  margin-right: 100px;
  padding: 10px; /* Padding around the text */
  border: 1px solid var(--dark-white); /* Border color */
  border-radius: 20px; /* Rounded corners */
  font-size: 25px; /* Font size */
  width: 60%; /* Width of the select box */
  background-color: var(--middle-background); /* Background color */
  color: var(--text-color); /* Background color */
  cursor: pointer; /* Show pointer cursor */
  margin: 10px 0;
  transition: transform 0.7s ease; /* Add transition for smooth animation */
  box-shadow: none;
}

.checkbox-container {
  postition: absolute;
  align-items: center;
  margin-top: 50px;
  margin-right: 100px;
  padding: 10px; /* Padding around the text */
  border-radius: 20px; /* Rounded corners */
  font-size: 20px; /* Font size */
  width: 60%; /* Width of the select box */
  background-color: var(--middle-background); /* Background color */
  cursor: pointer; /* Show pointer cursor */
  margin: 10px 0;
  transition: transform 0.7s ease; /* Add transition for smooth animation */
}

.checkbox-label {
  position: relative;
  left: 0;
}

label.checkbox-label {
  display: inline-block;
  position: relative;
  margin-left: 5px; /* Add some space between the checkbox and the label */
  cursor: pointer; /* Show pointer cursor */
  box-shadow: 5 0 10px rgba(0, 0, 0, 0.5);
  color: var(--text-color);
}

/* Style the label when the associated checkbox is checked */
input[type="checkbox"]:checked + label.checkbox-label {
  color: var(
    --normal-blue
  ); /* Change text color when the checkbox is checked */
}

/* Style the label when hovered over */
label.checkbox-label:hover {
  text-decoration: underline; /* Underline the label text when hovered */
}

.container-word-list-color {
  background-color: var(--middle-background);
}

.options-container {
  display: none;
  position: absolute;
  background-color: var(--dark-grey);
  min-width: 160px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 70px;
  margin-left: 10px;
}

.options-container a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.options-container a:hover {
  background-color: var(--light-grey-hover);
}

.show {
  display: block;
}

.no-shadow {
  box-shadow: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 20px; /* Rounded corners */
}

li a {
  display: block;
  color: var(--text-color);
  background-color: var(--middle-background);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--main-background);
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: var(--middle-background);
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  width: 160px;
  background-color: var(--light-grey-hover);
  color: var(--text-color);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--light-grey-hover) transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.noshadow {
  box-shadow: none;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nice-text-box {
  max-width: 1000px; /* Set maximum width */
  margin: 0 auto; /* Center horizontally */
  width: 100%;
  background-color: var(--middle-background);
}

.quizbtn {
  display: none;
  background-color: var(--middle-background);
  color: var(--text-color);
}

/* Custom styles for the switch */
.custom-switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

.custom-switch input {
  display: none;
}

.custom-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-white);
  transition: 0.4s;
  border-radius: 30px;
}

.custom-switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.custom-switch input:checked + .slider {
  background-color: var(--accent-color-main);
}

.custom-switch input:checked + .slider:before {
  transform: translateX(25px);
}

/* Rounded sliders */
.custom-switch .slider.round {
  border-radius: 30px;
}
.custom-switch .slider.round:before {
  border-radius: 50%;
}

/* Checkbox apperances */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 10px; /* Set the width of the custom checkbox */
  height: 10px; /* Set the height of the custom checkbox */
  border: 1px solid var(--dark-white); /* Border color */
  border-radius: 4px; /* Rounded corners */
  outline: none; /* Remove default focus outline */
  cursor: pointer; /* Show pointer cursor */
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 255);
}

/* Style the custom checkbox when it's checked */
input[type="checkbox"]:checked {
  background-color: var(
    --accent-color-main
  ); /* Background color when checked */
  border-color: var(--accent-color-main); /* Border color when checked */
}

/* Style the custom checkbox when it's hovered */
input[type="checkbox"]:hover {
  border-color: var(--light-grey-hover); /* Border color when hovered */
}
