/* Adjust the side panel button position for smaller screens */
@media screen and (max-width: 600px) {
  .openbtn {
    position: fixed;
    font-size: 20px; /* Reduce the font size */
    top: 20px; /* Adjust the top margin to create space for the title */
    left: -20px; /* Adjust the left margin */
    font-size: 24px; /* Reduce the font size */
    z-index: 10;
  }

  .question-string {
    font-size: 20px;
  }

  .app-title {
    font-size: 26px;
    padding: 0px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .text-main {
    margin-top: 5px;
  }

  .container-title {
    padding-left: 30px; /* Add left padding to create space for the button */
    padding-top: 20px;
  }

  .image {
    width: 150px;
    height: 75px;
    margin-top: 20px;
  }

  .image2 {
    width: 150px;
    height: 75px;
    margin-top: 5px;
  }

  .sign-in-btn {
    width: 66%;
  }
  .create-user-btn {
    width: 66%;
  }

  .container-middle {
    margin: 3px;
    border: 0px none; /* Border color */
  }

  .word-tree {
    width: 0px; /* Width of the side panel */
  }

  input[type="text"] {
    padding: 10px; /* Padding around the text */
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    width: 66%; /* Width of the input box */
    box-sizing: border-box; /* Include padding and border in width calculation */
  }

  input[type="password"] {
    width: 66%; /* Width of the input box */
  }

  select {
    width: 60%; /* Width of the select box */
  }

  .startbtn {
    width: 90%;
  }

  .select-box {
    width: 90%; /* Width of the select box */
  }

  .backbtn {
    width: 60%;
  }

  .movebtn {
    width: 80%;
    max-width: 150px;
  }

  .dropbtn {
    font-size: 20px;
  }

  .new-words[type="text"] {
    width: 40%;
  }

  .phone-ul {
    background-color: #333333;
  }

  .font-size-medium {
    font-size: 16px;
  }

  .text-entry[type="text"] {
    width: 150px;
  }

  .answer-box[type="text"] {
    width: 300px;
  }

  .nice-text-box {
    max-width: 1000px; /* Set maximum width */
    margin: 0 auto; /* Center horizontally */
    width: 100%;
  }

  .quizbtn {
    display: block;
  }
}
