<div>
  <span class="nice-text-box">
    <div id="addMoreRows" class="row">
      <div class="col-sm">
        <input
          type="text"
          placeholder="English Word"
          name="eng-{{.AddMoreWords}}"
          class="new-words text-entry"
          style="width: 80%; max-width: 90%"
        />
      </div>
      <div class="col-sm">
        <input
          type="text"
          placeholder="Azerbajani Word"
          name="aze-{{.AddMoreWords}}"
          class="new-words text-entry"
          style="width: 80%; max-width: 90%"
        />
      </div>
      <div class="col-sm">
        <button
          type="button"
          class=""
          hx-post="/add_rows"
          hx-target="#addMoreRows"
          hx-swap="beforeend"
        >
          <i class="bi bi-plus">+</i>
          <!-- Bootstrap icons class for plus sign -->
        </button>
        <button
          type="button"
          class=""
          hx-post="/add_rows"
          hx-target="#addMoreRows"
          hx-swap="delete"
        >
          <i class="bi bi-plus">-</i>
          <!-- Bootstrap icons class for plus sign -->
        </button>
      </div>
    </div>
  </span>
</div>
