<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azla Language Learning</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="theme/dark-style.css">
    <link rel="stylesheet" href="theme/phone-style.css">
  </head>
  <body>
    <center>
      <script src="scripts/script.js"></script>
      <div id='addWordMenu'>
        <form hx-post='/'> 
          {{ if not .IsWordlist }}
          <div class='container-middle container' style="margin-top: 10px">
            {{ if .DarkModeEnable }}
            <nav class="navbar navbar-expand-lg navbar-dark nav-bg-color-main" style="border-radius: 20px">
              {{ else }}
              <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 20px">
                {{ end }}
                <div class="container-fluid">
                  <div class="navbar-brand dropdown pb-4" style="margin-bottom: -30px; margin-top: -10px;">
                    {{ if .DarkModeEnable }}
                    <a href="#" class="nav-bg-color-inner d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 20px">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1">{{ .LoginUserName }}</span>
                    </a>
                    {{ else }}
                    <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#ccc; border-radius: 20px">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1" style="color: #161821">{{ .LoginUserName }}</span>
                    </a>
                    {{ end }}
                    {{ if .DarkModeEnable }}
                    <ul class="nav-bg-color-inner dropdown-menu dropdown-menu-dark text-small shadow" style="margin-top: -20px">
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" hx-post="/logout" hx-target="#MainMenu">Sign out</a></li>
                    </ul>
                    {{ else }}
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow nav-color" style="margin-top: -20px; background-color: #ccc;">
                      <li class="nav-color"><a class="dropdown-item text nav-color" href="#">Settings</a></li>
                      <li><a class="dropdown-item text" href="#">Profile</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item text" hx-post="/logout" hx-target="#MainMenu">Sign out</a></li>
                    </ul>
                    {{ end }}
                  </div>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                    </ul>  
                    <ul class="navbar-nav ms-auto">
                      <li class="nav-item" style="">
                        <a class="nav-link nav-link-light" hx-post="/" hx-target='#MainMenu'>Home</a>
                      </li>
                      <li class="nav-item">
                        {{ if .HaveCustomWordlist }}
                        <a class="nav-link nav-link-light" hx-post="/list_words" hx-target='#MainMenu'>Wordlists</a>
                        {{ end }}
                      </li>
                      <li class="nav-item">
                        <a class="nav-link nav-link-light" hx-post='/add_word' hx-target='#MainMenu'>New Wordlist</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link nav-link-light" hx-post='/logout' hx-target='#MainMenu'>Sign Out</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              <div class="container-fluid">
                <div class='options-container' id='optionsContainer'>
                  <div style="margin: 20px;"> 
                    {{ range $index, $map := .CustomWordlistName }}
                    {{ range $list, $words := $map }}
                    <ul class='phone-ul'>
                      <li>{{$list}}: </li>
                      {{ range $word, $answer := $words }}
                      <li>{{ $word }} - {{ $answer }}</li>
                      {{ end }}
                    </ul>
                    {{ end }}
                    {{ end }}
                  </div> 
                </div> 
                <h1 class='app-title display-4'>Azla Language Learning</h1>
              </div>
              <img class='image' 
              src='https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg' 
              alt='flag-of-azerbajani' 
              width='300' height='150'>
              <h2 class="margin-top display-4">Name of new Wordlist</h2>
              <hr> 
              <div>
                {{ if .IsWordlistEmpty }}
                <div class="modal fade show" id="wrongPasswordModal" tabindex="-1" aria-labelledby="wrongPasswordModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dark">
                    {{ if .DarkModeEnable }}
                    <div class="modal-content bg-dark text-light">
                    {{ else }}
                    <div class="modal-content bg-light text-dark">
                    {{ end }}
                      <div class="modal-header border-0">
                      {{ if .DarkModeEnable }}
                        <h5 class="modal-title text-light" id="wrongPasswordModalLabel">Error</h5>
                        <button type="button" class="btn-close btn-close-white no-shadow" data-bs-dismiss="modal" aria-label="Close" hx-post="/add_word" hx-target="#addWordMenu"></button>
                      {{ else }}
                        <h5 class="modal-title text-dark" id="wrongPasswordModalLabel">Error</h5>
                        <button type="button" class="btn-close btn-close-dark no-shadow" data-bs-dismiss="modal" aria-label="Close" hx-post="/add_word" hx-target="#addWordMenu"></button>
                      {{ end }}
                      </div>
                      <div class="modal-body">
                        <p>Value Cannot be empty</p>
                      </div>
                      <div class="modal-footer border-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" hx-post="/add_word" hx-target="#addWordMenu">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <script>
                  // Call the function to hide the message after 5 seconds
                  hideMessageAfterTimeout();
                  hideWindowAfterTimeout('floatingWindow');
                </script>
              </div>
              {{ end }}
              <br>
              <div class="nice-text-box no-shadow">
                <input id='addWordList' 
                type="text" 
                placeholder="Name of wordlist"
                name="addWordList" class="no-shadow margin-top text-entry" style="width:100%; max-width: 90%" />
                <div>
                </div>
                <hr>
                <button class='addbtn no-shadow'  
                  type='submit' 
                  hx-post='/add_word_save' 
                  style="margin-bottom: 20px; max-width: 90%" 
                  hx-target='#addWordMenu'>Add Wordlist</button>
              </div>
          </div>
          {{ end }}
        </form>
      </div>
      <form hx-post='/' hx-target='#addWordMenu'>
        {{ if .IsWordlist }}
        <div class='container-middle container' style="margin-top: 10px">
          {{ if .DarkModeEnable }}
          <nav class="navbar navbar-expand-lg navbar-dark nav-bg-color-main" style="border-radius: 20px">
            {{ else }}
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 20px">
              {{ end }}
              <div class="container-fluid">
                <div class="navbar-brand dropdown pb-4" style="margin-bottom: -30px; margin-top: -10px;">
                  {{ if .DarkModeEnable }}
                  <a href="#" class="nav-bg-color-inner d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 20px">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                    <span class="d-none d-sm-inline mx-1">{{ .LoginUserName }}</span>
                  </a>
                  {{ else }}
                  <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#ccc; border-radius: 20px">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                    <span class="d-none d-sm-inline mx-1" style="color: #161821">{{ .LoginUserName }}</span>
                  </a>
                  {{ end }}
                  {{ if .DarkModeEnable }}
                  <ul class="nav-bg-color-inner dropdown-menu dropdown-menu-dark text-small shadow" style="margin-top: -20px">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" hx-post="/logout" hx-target="#MainMenu">Sign out</a></li>
                  </ul>
                  {{ else }}
                  <ul class="dropdown-menu dropdown-menu-light text-small shadow nav-color" style="margin-top: -20px; background-color: #ccc;">
                    <li class="nav-color"><a class="dropdown-item text nav-color" href="#">Settings</a></li>
                    <li><a class="dropdown-item text" href="#">Profile</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item text" hx-post="/logout" hx-target="#MainMenu">Sign out</a></li>
                  </ul>
                  {{ end }}
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ms-auto">
                  </ul>  
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item" style="">
                      <a class="nav-link nav-link-light" hx-post="/" hx-target='#MainMenu'>Home</a>
                    </li>
                    <li class="nav-item">
                      {{ if .HaveCustomWordlist }}
                      <a class="nav-link nav-link-light" hx-post="/list_words" hx-target='#MainMenu'>Wordlists</a>
                      {{ end }}
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-link-light" hx-post='/add_word' hx-target='#MainMenu'>New Wordlist</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-link-light" hx-post='/logout' hx-target='#MainMenu'>Sign Out</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <h1 class='app-title'>Azla Language Learning</h1>
            <img class='image' 
            src='https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg' 
            alt='flag-of-azerbajani' 
            width='300' height='150' style="margin-bottom: 40px;">
            <div>
              <ul style="padding: 60px;">
                {{ if not .HidePopUp }}
                <div class="modal fade show" id="wrongPasswordModal" tabindex="-1" aria-labelledby="wrongPasswordModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dark">
                    {{ if .DarkModeEnable }}
                    <div class="modal-content bg-dark text-light">
                      {{ else }}
                      <div class="modal-content bg-light text-dark">
                        {{ end }}
                        <div class="modal-header border-0">
                          {{ if .DarkModeEnable }}
                          <h5 class="modal-title text-light" id="wrongPasswordModalLabel">Action</h5>
                          <button type="button"  class="btn-close btn-close-white no-shadow" data-bs-dismiss="modal" aria-label="Close" hx-post="/add_word" hx-target="#addWordMenu"></button>
                          {{ else }}
                          <h5 class="modal-title text-dark" id="wrongPasswordModalLabel">Action</h5>
                          <button type="button"  class="btn-close btn-close-dark no-shadow" data-bs-dismiss="modal" aria-label="Close" hx-post="/add_word" hx-target="#addWordMenu"></button>
                          {{ end }}
                        </div>
                        <div class="modal-body">
                          <p>Wordlist Created Please add words</p>
                        </div>
                        <div class="modal-footer border-0">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" hx-post="/add_word" hx-target="#addWordMenu">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{ end }}
                  <h3 class="margin-top h3"> {{ .WordlistName }} </h3>
                  <hr>
                  <span style="margin-left: 30px;" class='font-size-medium'></span>
                  <div>
                    <span class="nice-text-box">
                      <div id="addMoreRows" class="row">
                        <div class="col-sm">
                          <input type="text" placeholder="English Word" name="eng-0" class='new-words text-entry' style="width: 80%; max-width: 90%"/>
                        </div>
                        <div class="col-sm">
                          <input type="text" placeholder="Azerbajani Word" name="aze-0" class='new-words text-entry' style="width: 80%; max-width: 90%"/>
                        </div>
                        <div class="col-sm">
                          <button type="button" class="btn-light" hx-post="/add_rows" hx-target="#addMoreRows" hx-swap="beforeend">
                            <i class="bi bi-plus">+</i> <!-- Bootstrap icons class for plus sign -->
                          </button>
                          <button type="button"  style="display: none;" class="btn btn-primary" hx-post="/add_rows" hx-target="#addMoreRows" hx-swap="beforeend">
                            <i class="bi bi-plus" style="display: none;">-</i> <!-- Bootstrap icons class for plus sign -->
                          </button>
                        </div>
                      </div>
                    </span>
                    <br><hr>
                    <button type='submit' class='addbtn' hx-post='/add_word_final' style="max-width: 95%; margin-bottom: 0px; width: 100%" >Add</button>
              </ul>
              <script>
                // Call the function to hide the message after 5 seconds
                hideMessageAfterTimeout();
                hideWindowAfterTimeout('popUpSuccess');
              </script>
              {{ end }}
      </form>
    </center>
  </body>
</html>
