<div id='resultMenu'><form hx-post='/'> 
      <div class='container-middle container' style="margin-top: 10px">
         {{ if .DarkModeEnable }}
         <nav class="navbar navbar-expand-lg navbar-dark nav-bg-color-main" style="border-radius: 20px">
            {{ else }}
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 20px">
               {{ end }}
               <div class="container-fluid">
                  <div class="navbar-brand dropdown pb-4" style="margin-bottom: -30px; margin-top: -10px;">
                     {{ if .DarkModeEnable }}
                     <a href="#" class="nav-bg-color-inner d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 20px">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ .LoginUserName }}</span>
                     </a>
                     {{ else }}
                     <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#ccc; border-radius: 20px">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1" style="color: #161821">{{ .LoginUserName }}</span>
                     </a>
                     {{ end }}
                     {{ if .DarkModeEnable }}
                     <ul class="nav-bg-color-inner dropdown-menu dropdown-menu-dark text-small shadow" style="margin-top: -20px">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                           <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" hx-post="/logout" hx-target="#MainMenu">Sign out</a></li>
                     </ul>
                     {{ else }}
                     <ul class="dropdown-menu dropdown-menu-light text-small shadow nav-color" style="margin-top: -20px; background-color: #ccc;">
                        <li class="nav-color"><a class="dropdown-item text nav-color" href="#">Settings</a></li>
                        <li><a class="dropdown-item text" href="#">Profile</a></li>
                        <li>
                           <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text" hx-post="/logout" hx-target="#MainMenu">Sign out</a></li>
                     </ul>
                     {{ end }}
                  </div>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="navbar-nav ms-auto">
                     </ul>  
                     <ul class="navbar-nav ms-auto">
                        <li class="nav-item" style="">
                           <a class="nav-link nav-link-light" hx-post="/" hx-target='#MainMenu'>Home</a>
                        </li>
                        <li class="nav-item">
                           {{ if .HaveCustomWordlist }}
                           <a class="nav-link nav-link-light" hx-post="/list_words" hx-target='#MainMenu'>Wordlists</a>
                           {{ end }}
                        </li>
                        <li class="nav-item">
                           <a class="nav-link nav-link-light" hx-post='/add_word' hx-target='#MainMenu'>New Wordlist</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link nav-link-light" hx-post='/logout' hx-target='#MainMenu'>Sign Out</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </nav>
            <h1 class='app-title display-4'>Azla End Screen</h1>
            <img class='image' 
            src='https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg' 
            alt='flag-of-azerbajani' 
            width='300' height='150'>
            <hr> 
            <p class='display-6' >You Have Reached The End<p>
            <hr> 
            <p class='correct-text h4'>Number of Correct: {{.CorrectAnswers}}</p>
            <hr> 
            <p class='incorrect-text h4'>Number of Incorrect: {{.InCorrectAnswers}}<p/>
            <hr><br><br> 
            <div><button class='backbtn no-shadow' type='submit' hx-post='/word_result' hx-target='#resultMenu'>Results</button><div>
                  <hr>
                  <div><button style="margin-bottom: 20px;" class='backbtn no-shadow' type='submit' onclick="hidePanel()">Back</button><div>
                     </div></form></div>
