<!doctype html>
<html lang="en">
  <head> 
  </head>
  <body>
    <script src="scripts/script.js"></script>
    <div id='addWordMenu'>
      <form hx-post='/'> 
        <div class='container-middle container' style="margin-top: 10px">
            {{ if .DarkModeEnable }}
            <nav class="navbar navbar-expand-lg navbar-dark nav-bg-color-main" style="border-radius: 20px">
            {{ else }}
            <nav class="navbar navbar-expand-lg navbar-light bg-light nav-bg-color-main" style="border-radius: 20px">
            {{ end }}
              <div class="container-fluid">
                <div class="navbar-brand dropdown pb-4" style="margin-bottom: -30px; margin-top: -10px;">
                    {{ if .DarkModeEnable }}
                            <a href="#" class="nav-bg-color-inner d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 20px">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1">{{ .LoginUserName }}</span>
                            </a>
                    {{ else }}
                            <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#ccc; border-radius: 20px">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1" style="color: #161821">{{ .LoginUserName }}</span>
                            </a>
                    {{ end }}
                    {{ if .DarkModeEnable }}
                        <ul class="nav-bg-color-inner dropdown-menu dropdown-menu-dark text-small shadow" style="margin-top: -20px">
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" hx-post="/logout" hx-target="#MainMenu">Sign out</a></li>
                        </ul>
                    {{ else }}
                        <ul class="dropdown-menu dropdown-menu-light text-small shadow nav-color" style="margin-top: -20px; background-color: #ccc;">
                            <li class="nav-color"><a class="dropdown-item text nav-color" href="#">Settings</a></li>
                            <li><a class="dropdown-item text" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text" hx-post="/logout" hx-target="#MainMenu">Sign out</a></li>
                        </ul>
                    {{ end }}
                </div>
                <button class="navbar-toggler no-shadow" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ms-auto">
                  </ul>  
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item" style="">
                       <a class="nav-link nav-link-light" hx-post="/" hx-target='#MainMenu'>Home</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link nav-link-light" hx-post='/add_word' hx-target='#MainMenu'>New Wordlist</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link nav-link-light" hx-post='/logout' hx-target='#MainMenu'>Sign Out</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class='options-container' id='optionsContainer'>
                  <div><button class='dropdown-buttons no-shadow' style="box-shadow: none;" hx-post='/add_word' hx-target='#MainMenu'>Add New Wordlist</button></div>
                  <div><button class='dropdown-buttons no-shadow' style="box-shadow: none;" hx-post='/logout' hx-target='#MainMenu'>Sign Out</button></div>
              </div>
            </nav>
          <div class="container-title">
            <h1 class='app-title display-4'>Azla Language Learning</h1>
          </div> 
          <img class='image' 
          src='https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg' 
          alt='flag-of-azerbajani' 
          width='300' height='150'>
          <center>
            {{ if .ShowWords }}
            {{ range $index, $map := .CustomWordlistName }}
            {{ range $list, $words := $map }}
            <h2 class="margin-top display-4" >{{$list}}: </h2>
            {{ end }}
            {{ end }}
            <hr>
            <span class="nice-text-box">
              <div class="row align-items-center">
                <div class="col align-self-center">
                  <input type="text" placeholder="English Word" name="engText" class='no-shadow new-words text-entry' style="max-width: 90%"/>
                </div>
                <div class="col align-self-center">
                  <input type="text" placeholder="Azerbajani Word" name="azeText" class='no-shadow new-words text-entry' style="max-width: 90%"/>
                </div>
                <div class="col align-self-center">
                  <button class="addbtn no-shadow" style="max-width: 95%; margin-bottom: 0px; width: 100%" hx-post='/append_word' hx-target='#addWordMenu'>Add</button>
                </div>
              </div>
            </span>
            <br>
            <h2 class='app-title display-5'>Words</h2>
            <hr>
            <div class="row align-items-center">
              <div class="col align-self-center">
                <h3>English</h3>
              </div>
              <div class="col align-self-center">
                <h3>Azerbajani</h3>
              </div>
              <div class="col align-self-center">
                <button style="display: none;"></button>
              </div>
            </div>
            <hr>
            {{ range $index, $map := .CustomWordlistName }}
            {{ range $list, $words := $map }}
            <input
            name="wordlistname"
            type="text"
            id="invisibleInput"
            value="{{$list}}"
            style="display: none"
            />
            {{ range $word, $answer := $words }}
            <input
            name="selectedword"
            type="text"
            id="invisibleInput"
            value="{{$word}}"
            style="display: none"
            />
            <div class="row">
              <div class="col">
                <h3>{{ $word }}</h3>
              </div>
              <div class="col">
                <h3>{{ $answer }}</h3>
              </div>
              <div class="col">
                <form action="/remove_word" method="post">
                  <input type="hidden" name="wordlistname" value="{{$list}}">
                  <input type="hidden" name="selectedWord" value="{{$word}}">
                  <button hx-post="/remove_word" hx-target="#addWordMenu" class="btn-close-color btn-close no-shadow" data-bs-dismiss="modal" aria-label="Close" ></button>
                </form>
              </div>
            </div>
            <hr>
            {{ end }}
            {{ end }}
            {{ end }}
            <button class="addbtn margin-bottom margin-top no-shadow" style="max-width: 95%; width: 100%" hx-post='/list_words' hx-target='#addWordMenu'>Back</button>
            {{ else }}
            <div class="row">
              <div class="col">
              </div>
              <div class="col">
                <h2 class='margin-top display-4'>Wordlists</h2>
              </div>
              <div class="col">
              </div>
            </div>
            <hr>
            {{ range $wordlist, $value := .CustomWordlistName }}
            {{ range $name, $content := $value}}
            <form action="/show_words" method="post">
              <input
              name="wordlistname"
              type="text"
              id="invisibleInput"
              value="{{$name}}"
              style="display: none"
              />
              <div class="row">
                <div class="col">
                  <ul class="container-word-list-color list-group">
                    <h3>
                      <li class="margin-left background-color"><a class="nav-link-light" hx-post="/show_words" hx-target="#addWordMenu">{{ $name }}</a></li>
                    </h3>
                  </ul>
                </div>
                <div class="col">
                </div>
                <form action="/remove_wordlist" method="post" class="nav-link-light">
                  <input
                  name="removewordlist"
                  type="text"
                  id="invisibleInput"
                  value="{{$name}}"
                  style="display: none"
                  class="nav-link-light"
                  />
                  <div class="col-auto">
                    {{ if .DarkModeEnable }}
                    <button hx-post="/remove_wordlist" hx-target="#addWordMenu" class="margin-right btn-close btn-close-white no-shadow word-" data-bs-dismiss="modal" aria-label="Close" ></button>
                    {{ else }}                                                          
                    <button hx-post="/remove_wordlist" hx-target="#addWordMenu" class="margin-right btn-close btn-close-dark no-shadow" data-bs-dismiss="modal" aria-label="Close" ></button>
                    {{ end }}
                  </div>
                </form>
              </div>
              {{ end }}
              {{ end }}
              {{ end }}
            </form>
          </center>
        </div>
  </body>
</html>
