<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azla Language Learning</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg" type="image/x-icon">
    <link rel="stylesheet" href="{{ .StylePath }}">
    <link rel="stylesheet" href="theme/phone-style.css">
    <style>
    {{ if .DarkModeEnable }}
        /* Set the width of the side panel */
        .offcanvas-collapse {
          width: 250px;
        }
        
        /* Styling for the close button */
        .btn-close {
          margin-top: 10px;
        }
        
        /* Apply dark color scheme */
        .offcanvas-header {
          background-color: #343a40; /* Dark background color */
          color: #fff; /* Text color */
        }
        .offcanvas-body {
          background-color: #495057; /* Darker background color */
        }
    {{ else }}
        /* Set the width of the side panel */
        .offcanvas-collapse {
          width: 250px;
        }
        
        /* Styling for the close button */
        .btn-close {
          margin-top: 10px;
        }
        
        /* Apply dark color scheme */
        .offcanvas-header {
          background-color: #eceff4; /* Dark background color */
          color: #161821; /* Text color */
        }
        .offcanvas-body {
          background-color: #f0f0f0; /* Darker background color */
        }
    {{ end }}
    </style>
</head>
<body>
    <script src="scripts/script.js"></script>
    <center>
    <form hx-get="/question" id='MainMenu'>
        {{ if .IsSignedIn }} 
        <div class='container-middle container' style="margin-top: 10px">
            {{ if .DarkModeEnable }}
            <nav class="navbar navbar-expand-lg navbar-dark nav-bg-color-main" style="border-radius: 20px">
            {{ else }}
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 20px">
            {{ end }}
              <div class="container-fluid">
                <div class="navbar-brand dropdown pb-4" style="margin-bottom: -30px; margin-top: -10px;">
                    {{ if .DarkModeEnable }}
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle nav-bg-color-inner" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 20px">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1">{{ .LoginUserName }}</span>
                            </a>
                    {{ else }}
                            <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#ccc; border-radius: 20px">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1" style="color: #161821">{{ .LoginUserName }}</span>
                            </a>
                    {{ end }}
                    {{ if .DarkModeEnable }}
                        <ul class="dropdown-menu dropdown-menu-dark nav-bg-color-inner text-small shadow" style="margin-top: -20px">
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#" hx-post="/profile" hx-target="#MainMenu">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" hx-post="/logout" hx-target="#MainMenu">Sign out</a></li>
                        </ul>
                    {{ else }}
                        <ul class="dropdown-menu dropdown-menu-light text-small shadow nav-color" style="margin-top: -20px; background-color: #cccfcc;">
                            <li class="nav-color"><a class="dropdown-item text nav-color" href="#">Settings</a></li>
                            <li><a class="dropdown-item text" href="#" hx-post="/profile" hx-target="#MainMenu">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text" hx-post="/logout" hx-target="#MainMenu">Sign out</a></li>
                        </ul>
                    {{ end }}
                </div>
                <button class="navbar-toggler no-shadow" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ms-auto">
                  </ul>  
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item" style="">
                       <a class="nav-link nav-link-light nav-bg-color-inner" hx-post="/" hx-target='#MainMenu'>Home</a>
                    </li>
                    <li class="nav-item">
                       {{ if .HaveCustomWordlist }}
                          <a class="nav-link nav-link-light nav-bg-color-inner" hx-post="/list_words" hx-target='#MainMenu'>Wordlists</a>
                       {{ end }}
                    </li>
                    <li class="nav-item">
                       <a class="nav-link nav-link-light nav-bg-color-inner" hx-post='/add_word' hx-target='#MainMenu'>New Wordlist</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link nav-link-light nav-bg-color-inner" hx-post='/logout' hx-target='#MainMenu'>Sign Out</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <hr>
            <h1 class="app-title display-4" id="app-title"><center>Azla Language Learning</center></h1>
            <div class="container">
            <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg" alt="alternative-text" width="300" height="150">
            </div>
            <h5 class="display-5 text-center margin-top" id="sidebarPanelLabel">Welcome Back {{ .LoginUserName }}</h5>
            <hr>
            <p id="text-main" class='text-main display-6'>Select Your Options</p>
            <hr>
            <div id='languageTitle'><span class='wordQuestion'>{{ .LastLanguage }}</span> Selected</div>
            <div class='entry-boxes'>
                <select name="languageOpt" 
                        id="languageOpt"
                        class="no-shadow form-select form-select-lg mb-3 select-box" aria-label=".form-select-lg example"
                        hx-target='#languageTitle' hx-post='/language_changed'>
                    {{range $index, $value := .LanguageOptions}}
                        <option value={{$value}}>{{$value}}</option>
                    {{end}}
                    <option selected="selected">{{ .LastLanguage }}</option>
                </select>
            </div>
            <div id='wordListTitle'>Wordlist <span class='wordQuestion'>{{ .LastWordList }}</span> Selected</div>
            <div>                                                    
                <select id='wordListOptions'                         
                        name="wordListOpt"                           
                        class="no-shadow form-select form-select-lg mb-3 select-box" aria-label=".form-select-lg example"
                        hx-target='#wordListTitle' hx-post="/wordlist_changed">
                        <option selected="selected">
                            {{ .LastWordList }}
                        </option>
                    {{range .WordListOptions}}
                        <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
            </div>
            <div id='wordAmount'><span class='wordQuestion'>{{ .LastCount }}</span> Words Selected</div>
            <div>
                <select name="wordCountOptions" 
                        class="no-shadow form-select form-select-lg mb-3 select-box" aria-label=".form-select-lg example"
                        hx-target='#wordAmount' hx-post='/wordcount_changed'>
                    <option selected="selected">
                        {{ .LastCount }}
                    </option>
                    {{range .MaxAmountOfWordsOptions}}
                        <option id="wordCount" value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
            </div>
            <button type="submit" name="Start" id='startButton' class="startbtn no-shadow">Start</button>
            <hr>
            <div class="container mt-5">
                <div class="row align-items-center">
                  <div class="col align-self-center">
                    Exam Mode
                    <label for="examCheck" class='custom-switch'>
                      {{ if .ExamMode }}
                        <input type="checkbox" id="examCheck" name="examMode" value="Exam Mode" hx-post="/exam_mode" hx-target="#MainMenu" checked>
                      {{ else }}
                        <input type="checkbox" id="examCheck" name="examMode" value="Exam Mode" hx-post="/exam_mode" hx-target="#MainMenu">
                      {{ end }}
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col align-self-center">
                   <h3></h3>
                  </div>
                  <div class="col align-self-center">
                    Dark Mode
                    <!-- Default switch -->
                    <label class="custom-switch">
                      {{ if .DarkModeEnable }}
                          <input name="darkModeSwitch" id="darkModeSwitch" type="checkbox" hx-post="/theme_mode" hx-target="#MainMenu" checked>
                      {{ else }}
                          <input name="darkModeSwitch" id="darkModeSwitch" type="checkbox" hx-post="/theme_mode" hx-target="#MainMenu">
                      {{ end }}
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <hr>
            </div>
        </div>
    </form>
    </center>
        {{ else }}  
            <div id='loginMenu'>
            <div class='container-middle container' style="margin-top: 10px">
            <nav class="navbar navbar-expand-lg navbar-dark nav-bg-color-main" style="border-radius: 20px">
              <div class="container-fluid">
                <img class="navbar-brand" src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg" alt="alternative-text" width="50" height="40">
                <button class="navbar-toggler no-shadow" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-bg-color-inner">
                        {{ if .CreateUser }}
                       <a class="nav-link nav-bg-color-inner" hx-post='/login' hx-target='#loginMenu' hx-target='MainMenu'>Home</a>
                    </li>
                        {{ else }}
                    <li class="nav-item nav-bg-color-inner">
                       <a class="nav-link nav-bg-color-inner" hx-post="/create_user" hx-target="#loginMenu">Register</a></a>
                    </li>
                        {{ end }}
                  </ul>
                </div>
              </div>
            </nav>
            <div class="container-title">
                <h1 class="app-title display-4" id="app-title"><center>Azla Language Learning<center></h1>
            </div>
            {{ if .CreateUserComplete }}
                <div class="modal fade show" id="wrongPasswordModal" tabindex="-1" aria-labelledby="wrongPasswordModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dark">
                    <div class="modal-content bg-dark text-light">
                      <div class="modal-header border-0">
                        <h5 class="modal-title text-light" id="wrongPasswordModalLabel">Account Created</h5>
                        <button type="button" class="btn-close btn-close-white no-shadow" data-bs-dismiss="modal" aria-label="Close" hx-post="/login" hx-target="#loginMenu"></button>
                      </div>
                      <div class="modal-body">
                        <p>User account created. You can now sign in. Good Luck!</p>
                      </div>
                      <div class="modal-footer border-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" hx-post="/login" hx-target="#loginMenu">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            {{ end }}
            <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg" alt="alternative-text" width="300" height="150">
            <h2 style="margin-top: 10px">You are not Signed In</h2>
            <hr>
            {{ if .CreateUser }}
              <h3 class="text-center mb-4">Create User Account</h3>
              {{ if .CreateUserMes }}
                <p>{{ .CreateUserMes }}</p>
              {{ end }}
            {{ else }}
              <h2 class="text-center mb-4 margin-top" style="margin-top:50px;" >Login</h2>
              <hr> 
              {{ if .FailedLoginAttempt }}
                <div class="modal fade show" id="wrongPasswordModal" tabindex="-1" aria-labelledby="wrongPasswordModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dark">
                    <div class="modal-content bg-dark text-light">
                      <div class="modal-header border-0">
                        <h5 class="modal-title text-light" id="wrongPasswordModalLabel">Wrong Password</h5>
                        <button type="button" class="no-shadow btn-close-white btn-close" data-bs-dismiss="modal" aria-label="Close" hx-post="/login" hx-target="#loginMenu"></button>
                      </div>
                      <div class="modal-body">
                        <p>Incorrect credentials. Please try again.</p>
                      </div>
                      <div class="modal-footer border-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" hx-post="/login" hx-target="#loginMenu">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              <script>
                  hideMessageAfterTimeout('wrongPassword');
                  hideWindowAfterTimeout('popUpError');
              </script>
              {{ end }}
            {{ end }}
            <div>{{ if .CreateUser }}<span class="h3">*</span>{{end}}<input class='no-shadow input-box' type="text" placeholder="Username" name="username"/></div>
            <div style="margin: 10px;"></div>  
            {{ if .CreateUser }}
                <div>{{ if .CreateUser }}<span class="h3">*</span>{{end}}<input class='no-shadow input-box' type="text" placeholder="Email" name="email" /></div>
                <div style="margin: 10px;"></div>  
            {{ end }}
            <div>{{ if .CreateUser }}<span class="h3">*</span>{{end}}<input style="box-shadow: none;" class='no-shadow input-box' type="password" placeholder="Password" name="password" /></div>
            {{ if .CreateUser }}
              <div>{{ if .CreateUser }}<span class="h3">*</span>{{end}}<input style="box-shadow: none;"class='no-shadow input-box' type="password" placeholder="Confirm Password" name="password-confirm" /></div>
              <button class='create-user-btn' type='submit' hx-post='/create_user_submit' hx-target='#loginMenu' hx-target='MainMenu'>Create Account</button>
            {{ else }}
              <div>
                <button id='loginForm' class='no-shadow sign-in-btn' type='submit' hx-post='/auth' hx-target='#loginMenu' hx-target='#MainMenu'>Sign In</button>
                 <div class="mt-3 text-center nav-bg-color-inner">
                       <a class="nav-bg-color-inner"> Forgot password?</a>
                 </div>
              </div>    
              <hr>
            {{ end }}
            </div>      
        {{ end }}       
</body>                 
</html>                 
