<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azla Language Learning</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="theme/dark-style.css">
    <link rel="stylesheet" href="theme/phone-style.css">
</head>
<body>
    <script src="scripts/script.js"></script>
    <center>
    <form hx-post="/question" id='MainMenu'>
        {{ if .IsSignedIn }} 
        <div class='main-list'>
            <ul>
                <li><a hx-post="/" hx-target='#MainMenu'>Home</a></li>
                <li><a hx-post='/logout' hx-target='#MainMenu'>Sign Out</a></li>
            </ul>
            <span class='account-dropdown'>
                <button name="account" 
                        id='dropdown-button' 
                        class='dropbtn'
                        onclick="dropDownToggle(event)"
                        >≡</button>
            </span>
            <div class='options-container' id='optionsContainer'>
                <div><button class='dropdown-buttons' style="box-shadow: none;" hx-post='/add_word' hx-target='#MainMenu'>Add New Wordlist</button></div>
                <div><button class='dropdown-buttons' style="box-shadow: none;" hx-post='/logout' hx-target='#MainMenu'>Sign Out</button></div>
            </div>
            <div class="title-container">
                <h1 class="app-title" id="app-title"><center>Azla Language Learning<center></h1>
            </div>
            <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg" alt="alternative-text" width="300" height="150">
            <h2>Welcome Back {{ .LoginUserName }}</h2>
            <p id="text-main" class='text-main'>Select Your Options</p>
            <div id='languageTitle'></div>
            <div class='entry-boxes'>
                <select name="languageOpt" 
                        id="languageOpt"
                        hx-target='#languageTitle' hx-post='/language_changed'>
                    {{range .LanguageOptions}}
                        <option value={{.}}>{{.}}</option>
                    {{end}}
                </select>
            </div>
            <div id='wordListTitle'></div>
            <div>
                <select id='wordListOptions' 
                        name="wordListOpt" 
                        class="entry-box" 
                        hx-target='#wordListTitle' hx-post="/wordlist_changed">
                    {{range .WordListOptions}}
                        <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
            </div>
            <div id='wordAmount'></div>
            <div>
                <select name="wordCountOptions" 
                        class="entry-box"
                        hx-target='#wordAmount' hx-post='/wordcount_changed'>
                    {{range .MaxAmountOfWordsOptions}}
                        <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
            </div>
            <button type="submit" name="Start" id='startButton' class='startButton'>Start</button>
            <div class='checkbox-container'>
                <input type="checkbox" id="examCheck" name="examMode" value="Exam Mode">
                <label for="examCheck" class='checkbox-label'>Exam Mode</label>
            </div>
        </div>
    </form>
    </center>
        {{ else }} 
            <div id='loginMenu'>
            <div class='main-list'>
            {{ if .CreateUser }}
            <ul>
                <li><a href="default.asp">Sign In</a></li>
            </ul>
            {{ else }}
            <ul>
                <li><a hx-post='/create_user' hx-target='#loginMenu' hx-target='MainMenu'>Register</a></li>
            </ul>
            {{ end }}
            <div class="title-container">
                <h1 class="app-title" id="app-title"><center>Azla Language Learning<center></h1>
            </div>
            <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg" alt="alternative-text" width="300" height="150">
            <h2>You are not Signed In</h2>
                {{ if .CreateUser }}
                  <p>Create User Account<p>
                  {{ if .CreateUserMes }}
                    <p>{{ .CreateUserMes }}</p>
                  {{ end }}
                {{ else }}
                  <h3>Login to Azla<h3>
                  {{ if .FailedLoginAttempt }}
                     <div class='popup' id='popUpError'>
                         <span class='popuptext' id='myPopup' >Incorrect Username or Password</span>
                     </div>
                  <script>
                      hideMessageAfterTimeout('wrongPassword');
                      hideWindowAfterTimeout('popUpError');
                  </script>
                  {{ end }}
                {{ end }}
                <div><input class='input-box' type="text" placeholder="Username" name="username" /></div>
                <div style="margin: 10px;"></div>  
                <div><input style="box-shadow: none;" class='input-box' type="password" placeholder="Password" name="password" /></div>
                {{ if .CreateUser }}
                  <div><input style="box-shadow: none;"class='input-box' type="password" placeholder="Confirm Password" name="password-confirm" /></div>
                  <button class='create-user' type='submit' hx-post='/create_user_submit' hx-target='#loginMenu' hx-target='MainMenu'>Create Account</button>
                {{ else }}
                  <div>
                    <button id='loginForm' class='sign-in' type='submit' hx-post='/auth' hx-target='#loginMenu' hx-target='#MainMenu'>Sign In</button>
                  </div>
                  </div>
                {{ end }}
            </div>
        {{ end }}
</body>
</html>

