<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Azla Language Learning</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="theme/dark-style.css" />
    <link rel="stylesheet" href="theme/phone-style.css" />
    <style>
    {{ if .DarkModeEnable }}
        /* Set the width of the side panel */
        .offcanvas-collapse {
          width: 250px;
        }
        
        /* Styling for the close button */
        .btn-close {
          margin-top: 10px;
        }
        
        /* Apply dark color scheme */
        .offcanvas-header {
          background-color: #343a40; /* Dark background color */
          color: #fff; /* Text color */
        }
        .offcanvas-body {
          background-color: #495057; /* Darker background color */
        }
    {{ else }}
        /* Set the width of the side panel */
        .offcanvas-collapse {
          width: 250px;
        }
        
        /* Styling for the close button */
        .btn-close {
          margin-top: 10px;
        }
        
        /* Apply dark color scheme */
        .offcanvas-header {
          background-color: #eceff4; /* Dark background color */
          color: #161821; /* Text color */
        }
        .offcanvas-body {
          background-color: #f0f0f0; /* Darker background color */
        }
    {{ end }}
    </style>
  </head>
  <body>
    <center>
      <script src="scripts/script.js"></script>
      <form hx-post="{{.ExamModeAction}}" id="questionForm">
        <div id="questionWindow">
          <div class='container-middle container' style="margin-top: 10px">
            {{ if .DarkModeEnable }}
            <nav class="navbar navbar-expand-lg navbar-dark nav-bg-color-main nav-on-top" style="border-radius: 20px">
            {{ else }}
            <nav class="navbar navbar-expand-lg navbar-light bg-light nav-on-top" style="border-radius: 20px">
            {{ end }}
              <div class="container-fluid">
                <div class="navbar-brand dropdown pb-4" style="margin-bottom: -30px; margin-top: -10px;">
                    {{ if .DarkModeEnable }}
                            <a href="#" class="nav-bg-color-inner d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 20px">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1">{{ .LoginUserName }}</span>
                            </a>
                    {{ else }}
                            <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#ccc; border-radius: 20px">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1" style="color: #161821">{{ .LoginUserName }}</span>
                            </a>
                    {{ end }}
                    {{ if .DarkModeEnable }}
                        <ul class="dropdown-menu nav-bg-color-inner dropdown-menu-dark text-small shadow" style="margin-top: -20px">
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" hx-post="/logout" hx-target="#MainMenu">Sign out</a></li>
                        </ul>
                    {{ else }}
                        <ul class="dropdown-menu dropdown-menu-light text-small shadow nav-color" style="margin-top: -20px; background-color: #ccc;">
                            <li class="nav-color"><a class="dropdown-item text nav-color" href="#">Settings</a></li>
                            <li><a class="dropdown-item text" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text" hx-post="/logout" hx-target="#MainMenu">Sign out</a></li>
                        </ul>
                    {{ end }}
                </div>
                <button class="navbar-toggler no-shadow" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ms-auto">
                  </ul>  
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item" style="">
                       <a class="nav-link nav-link-light" hx-post="/" hx-target='#MainMenu'>Home</a>
                    </li>
                    <li class="nav-item">
                      <a
                        type="button"
                        class="nav-link nav-link-light"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#sidebarPanel"
                        aria-controls="sidebarPanel"
                        id="quizButton"
                        >
                        Questions
                      </button>
                    </a>
                    <li class="nav-item">
                       {{ if .HaveCustomWordlist }}
                          <a class="nav-link nav-link-light" hx-post="/list_words" hx-target='#MainMenu'>Wordlists</a>
                       {{ end }}
                    </li>
                    <li class="nav-item">
                       <a class="nav-link nav-link-light" hx-post='/add_word' hx-target='#MainMenu'>New Wordlist</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link nav-link-light" hx-post='/logout' hx-target='#MainMenu'>Sign Out</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <div></div>
            <div
              class="offcanvas offcanvas-start offcanvas-body"
              tabindex="-1"
              id="sidebarPanel"
              aria-labelledby="sidebarPanelLabel"
            >
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="sidebarPanelLabel">
                  {{ .SelectedWordList }}
                </h5>
                <button
                  type="button"
                  class="btn-close text-reset"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>
              <div class="offcanvas-body">
                <!-- Content for the side panel goes here -->
                <h2>List of Questions</h2>
                <ul id="myForm" class="container-word-list">
                  {{ range $index, $word := .AvailableWords}} {{ if ne $index
                  0}}
                  <form action="/jump" method="post">
                    <input
                      name="index"
                      type="text"
                      id="invisibleInput"
                      value="{{$index}}"
                      style="display: none"
                    />
                    <div>
                      <li>
                        <a class="text" hx-post="/jump" hx-target="#questionForm"
                          >{{$index}} - {{$word}}</a
                        >
                      </li>
                    </div>
                  </form>
                  {{ end }} {{ end }}
                </ul>
              </div>
            </div>
            <h1 class="app-title display-4">Azla Questions</h1>
            <button
              type="button"
              class="quizbtn openbtn"
              data-bs-toggle="offcanvas"
              data-bs-target="#sidebarPanel"
              aria-controls="sidebarPanel"
              id="quizButton"
            >
              ≡
            </button>
            <img
              class="image2"
              src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Flag_of_Azerbaijan.svg"
              alt="alternative-text"
              width="300"
              height="150"
              style="margin-bottom: 20px"
            />
            <br>
            <h3>
              You are using the
              <span style="color: #84a0c6">{{ .SelectedWordList }}</span>
              Wordlist
            </h3>
            <hr><br>
            {{ if .WordImage }}
            <img
              class="image2"
              src="{{ .WordImage }}"
              width="250"
              height="150"
            />
            {{ end }}
            <br><br>
            <p class="question-string" id="wordQuestion">
              <span> {{.CurrentIndex}} </span> What is
              <span class="wordQuestion"> {{.CurrentWord}} </span> in
              <span class="wordLanguage"> {{.SelectedLanguage}} </span> ?
            </p>
            <hr>
            <div class="container no-shadow">
              <div class="nice-text-box no-shadow">
                <input
                  type="text"
                  class="form-control text-entry answer-box no-shadow"
                  name="answer"
                />
              </div>
            </div>
            {{ if .DarkModeEnable }}
            <ul class="nav-link-light"
              style="
                border-radius: 0px;
                margin-top: 20px;
              "
            >
            {{ else }}
            <ul class="nav-link-light"
              style="
                border-radius: 0px;
                margin-top: 20px;
              "
            >
            {{ end }}
               <div class="row">
                 <div class="col">
                    <button
                      type="submit"
                      name="prev"
                      class="movebtn"
                      style="box-shadow: none; margin-bottom: 10px"
                      hx-post="/prev"
                      hx-target="#questionForm"
                    >
                      Previous
                    </button>
                 </div>
                 <div class="col">
                    <button
                      type="submit"
                      class="movebtn"
                      name="questionButton"
                      onclick="hidePanel()"
                      style="box-shadow: none; margin-bottom: 10px"
                    >
                      {{.ExamModeString}}
                    </button>
                 </div>
               </div>
            </ul>
            <div class="margin-bottom"></div>
          </div>
        </div>
      </form>
    </center>
  </body>
</html>
